<div id="decks" class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <input type="text" class="col-md-12" ng-model="filter" placeholder="Filter...">
        </div>

        <div class="col-md-4">
            <div class="col-md-8">Deck: {{deckname}}</div><div class="col-md-4 btn-group"><button class="btn" ng-click="rename()">Rename</button><button class="btn" ng-click="save()">Save</button></div>
        </div>
    </div>

    <script type="text/ng-template" id="deckRename.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title">Rename Deck</h3>
        </div>
        <div class="modal-body">
            <form ng-submit="save()">
                <input type="text" class="input-block-level" ng-model="deckName"/>
                <button class="btn btn-large btn-primary" type="submit">Rename</button>
            </form>
        </div>
    </script>

    <script type="text/ng-template" id="cardPopoverTemplate.html">
        <div>{{currentCard.rules}}</div>
        <div ng-if="currentCard.power != null">
            <span>{{currentCard.power}}/{{currentCard.toughness}}</span>
        </div>
    </script>

    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                <tr>
                    <th>Card Name</th><th>Cost</th><th>Rule text</th><th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="card in cards | filter:filter">
                    <td>{{card.name}}</td>
                    <td>{{card.cost}}</td>
                    <td>{{card.rules}}</td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <button class="btn" ng-click="deckInc(card.name)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table">
                <thead>
                <tr>
                    <th>Count</th><th>Card Name</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entry in deck">
                    <td>{{entry[0]}}</td>
                    <td><button popover-template="cardPopoverTemplate" popover-title="{{currentCard.name}} {{currentCard.cost}}" popover-trigger="mouseenter" ng-mouseenter="setCurrentCard(entry[1])">{{entry[1]}}</button></td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <button class="btn" ng-click="deckDec(entry[1])"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                            <button class="btn" ng-click="deckInc(entry[1])"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>