<div id="game" class="container-fluid" style="min-height: {{tableHeight}}px;position: absolute; left:0px; right:0px;">
    <div class="opponent_status player_status">

        <span class="player_life">
            {{opponent_life}}
        </span> 


        <span class="player_name">
            Opponent
        </span>

        <span class="player_lgh">
            <div class="btn-group btn-group-sm">
<!--              <button type="button" class="btn btn-default"><img src='icons/life.png'/>20</button>-->
              <button type="button" class="btn {{opponent_library.action ? 'btn-warning':'btn-default'}}" ng-click="zoneOpen('opponent', 'library')"><img src='icons/library.png'/>{{opponent_library.length}}</button>
              <button type="button" class="btn {{opponent_graveyard.action ? 'btn-warning':'btn-default'}} " ng-click="zoneOpen('opponent', 'graveyard')"><img src='icons/graveyard.png'/>{{opponent_graveyard.length}}</button>
              <button type="button" class="btn {{opponent_hand.action ? 'btn-warning':'btn-default'}}" ng-click="zoneOpen('opponent', 'hand')"><img src='icons/hand.png'/>{{opponent_hand.length}}</button>
            </div>
        </span>
    </div> 

    <div class="opponent_turn_structure turn_structure">
        <div class="turn_element">
            <img src="icons/upkeep_full.png" ng-if="!(step == 'upkeep' && turn == 'opponent')"/>
            <img src="icons/upkeep_full_active.png" ng-if="(step == 'upkeep' && turn == 'opponent')"/>
        </div>
        <div class="turn_element">
            <img src="icons/draw_full.png" ng-if="!(step == 'draw' && turn == 'opponent')"/>
            <img src="icons/draw_full_active.png" ng-if="(step == 'draw' && turn == 'opponent')"/>
        </div>
        <div class="turn_element">
            <img src="icons/pre_full.png" ng-if="!(phase == 'precombat main' && turn == 'opponent')"/>
            <img src="icons/pre_full_active.png" ng-if="(phase == 'precombat main' && turn == 'opponent')"/>
        </div>
        <div class="turn_element">
            <img src="icons/post_full.png" ng-if="!(phase == 'postcombat main' && turn == 'opponent')"/>
            <img src="icons/post_full_active.png" ng-if="(phase == 'postcombat main' && turn == 'opponent')"/>
        </div>
        <div class="turn_element">
            <img src="icons/endofturn.png" ng-if="!(phase == 'end' && turn == 'opponent')"/>
            <img src="icons/endofturn_active.png" ng-if="(phase == 'end' && turn == 'opponent')"/>
        </div>
    </div>

    <div class="opponent_combat_turn_structure turn_structure">
         <div class="turn_element">
            <img src="icons/pre_combat.png" ng-if="!(step == 'beginning of combat' && turn == 'opponent')"/>
            <img src="icons/pre_combat_active.png" ng-if="(step == 'beginning of combat' && turn == 'opponent')"/>
        </div>
        <div class="turn_element">
            <img src="icons/attackers.png" ng-if="!(step == 'declare attackers' && turn == 'opponent')"/>
            <img src="icons/attackers_active.png" ng-if="(step == 'declare attackers' && turn == 'opponent')"/>
        </div>
        <div class="turn_element">
            <img src="icons/blockers.png" ng-if="!(step == 'declare blockers' && turn == 'opponent')"/>
            <img src="icons/blockers_active.png" ng-if="(step == 'declare blockers' && turn == 'opponent')"/>
        </div>
        <div class="turn_element">
            <img src="icons/damage.png" ng-if="!(step == 'combat damage' && turn == 'opponent')"/>
            <img src="icons/damage_active.png" ng-if="(step == 'combat damage' && turn == 'opponent')"/>
        </div>
        <div class="turn_element">
            <img src="icons/post_combat.png" ng-if="!(step == 'end of combat' && turn == 'opponent')"/>
            <img src="icons/post_combat_active.png" ng-if="(step == 'end of combat' && turn == 'opponent')"/>
        </div>
    </div>

    <!--
    <div class="self_pass player_pass">
        <button type="button" class="btn btn-default player-pass-button">Pass</button>
    </div>
    -->

    <div class="player_status self_status">

        <span class="player_life">
            {{player_life}}
        </span> 

        <span class="player_pass">
            <button type="button" class="btn btn-default player-pass-button" ng-disabled="passAction == null" ng-click="doPassAction()">{{passText}}</button>
        </span>
<!--        <span class="player_name"> 
            Player
        </span>
-->
        <span class="player_lgh">
            <div class="btn-group btn-group-sm">
<!--              <button type="button" class="btn btn-default"><img src='icons/life.png'/>20</button>-->
              <button type="button" class="btn {{player_library.action ? 'btn-warning':'btn-default'}}" ng-click="zoneOpen('player', 'library')"><img src='icons/library.png'/>{{player_library.length}}</button>
              <button type="button" class="btn {{player_graveyard.action ? 'btn-warning':'btn-default'}}" ng-click="zoneOpen('player', 'graveyard')"><img src='icons/graveyard.png'/>{{player_graveyard.length}}</button>
              <button type="button" class="btn {{player_hand.action ? 'btn-warning':'btn-default'}}" ng-click="zoneOpen('player', 'hand')"><img src='icons/hand.png'/>{{player_hand.length}}</button>
            </div>
        </span>
    </div>

    <div class="player_turn_structure turn_structure">
        <div class="turn_element">
            <img src="icons/upkeep_full.png" ng-if="!(step == 'upkeep' && turn == 'player')"/>
            <img src="icons/upkeep_full_active.png" ng-if="(step == 'upkeep' && turn == 'player')"/>
        </div>
        <div class="turn_element">
            <img src="icons/draw_full.png" ng-if="!(step == 'draw' && turn == 'player')"/>
            <img src="icons/draw_full_active.png" ng-if="(step == 'draw' && turn == 'player')"/>
        </div>
        <div class="turn_element">
            <img src="icons/pre_full.png" ng-if="!(phase == 'precombat main' && turn == 'player')"/>
            <img src="icons/pre_full_active.png" ng-if="(phase == 'precombat main' && turn == 'player')"/>
        </div>
        <div class="turn_element">
            <img src="icons/post_full.png" ng-if="!(phase == 'postcombat main' && turn == 'player')"/>
            <img src="icons/post_full_active.png" ng-if="(phase == 'postcombat main' && turn == 'player')"/>
        </div>
        <div class="turn_element">
            <img src="icons/endofturn.png" ng-if="!(phase == 'end' && turn == 'player')"/>
            <img src="icons/endofturn_active.png" ng-if="(phase == 'end' && turn == 'player')"/>
        </div>
    </div>

    <div class="player_combat_turn_structure turn_structure">
         <div class="turn_element">
            <img src="icons/pre_combat.png" ng-if="!(step == 'beginning of combat' && turn == 'player')"/>
            <img src="icons/pre_combat_active.png" ng-if="(step == 'beginning of combat' && turn == 'player')"/>
        </div>
        <div class="turn_element">
            <img src="icons/attackers.png" ng-if="!(step == 'declare attackers' && turn == 'player')"/>
            <img src="icons/attackers_active.png" ng-if="(step == 'declare attackers' && turn == 'player')"/>
        </div>
        <div class="turn_element">
            <img src="icons/blockers.png" ng-if="!(step == 'declare blockers' && turn == 'player')"/>
            <img src="icons/blockers_active.png" ng-if="(step == 'declare blockers' && turn == 'player')"/>
        </div>
        <div class="turn_element">
            <img src="icons/damage.png" ng-if="!(step == 'combat damage' && turn == 'player')"/>
            <img src="icons/damage_active.png" ng-if="(step == 'combat damage' && turn == 'player')"/>
        </div>
        <div class="turn_element">
            <img src="icons/post_combat.png" ng-if="!(step == 'end of combat' && turn == 'player')"/>
            <img src="icons/post_combat_active.png" ng-if="(step == 'end of combat' && turn == 'player')"/>
        </div>
    </div>

    <script type="text/ng-template" id="zone.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="zoneClose()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title">{{zoneName}}</h3>
        </div>
        <div class="modal-body">
            <span class="card_stack" ng-repeat="c in objects">
                <span class="card_small card_{{c.ui_color}}">
                    <div class="card_content" ng-click="objectAction(c.id)">
                        <span class="header">
                            <span class="title">{{c.title}}</span>
                            <span class="manacost">{{c.manacost}}</span>
                        </span>
                        <span class="body">
                            <span class="types">{{c.ui_types}}</span>
                            <span class="text">{{c.text}}</span>
                            <span class="power" ng-if="c.power != null">{{c.power}}/{{c.toughness}}</span>
                        </span>
                    </div>
                </span>
            </span>
        </div>
    </script>

    <div id="gametable">


        <div class="opponent_battlefield">
             <span class="card_stack" ng-repeat="stack in opponent_stacks" style="width:{{stack.width}}px; height:{{stack.height}}px;">
                <span ng-repeat="c in stack.cards" class="card_small card_{{c.obj.ui_color}} {{c.klass}}" style="position:absolute; left:{{c.left}}px; top:{{c.top}}px; z-index: {{c.z-index}};">
                    <div class="card_content" ng-click="objectAction(c.obj.id)">
                        <span class="header">
                            <span class="title">{{c.obj.title}}</span>
                            <span class="manacost">{{c.obj.manacost}}</span>
                        </span>
                        <span class="body">
                            <span class="types">{{c.obj.ui_types}}</span>
                            <span class="text">{{c.obj.text}}</span>
                            <span class="power" ng-if="c.obj.power != null">{{c.obj.power}}/{{c.obj.toughness}}</span>
                        </span>
                    </div>
                </span>
             </span>
        </div>

        <div class="battle_battlefield">
            <span class="battlestack" ng-repeat="s in battlestacks">
                <div class="opponent_battlestack">
                    <span class="card_stack" ng-repeat="stack in s.opponent" style="width:{{stack.width}}px; height:{{stack.height}}px;">
                        <span ng-repeat="c in stack.cards" class="card_small card_{{c.obj.ui_color}} {{c.klass}}" style="position:absolute; left:{{c.left}}px; top:{{c.top}}px; z-index: {{c.z-index}};">
                            <div class="card_content" ng-click="objectAction(c.obj.id)">
                                <span class="header">
                                    <span class="title">{{c.obj.title}}</span>
                                    <span class="manacost">{{c.obj.manacost}}</span>
                                </span>
                                <span class="body">
                                    <span class="types">{{c.obj.ui_types}}</span>
                                    <span class="text">{{c.obj.text}}</span>
                                    <span class="power" ng-if="c.obj.power != null">{{c.obj.power}}/{{c.obj.toughness}}</span>
                                </span>
                            </div>
                        </span>
                     </span>
                </div>
                <div class="player_battlestack">
                    <span class="card_stack" ng-repeat="stack in s.player" style="width:{{stack.width}}px; height:{{stack.height}}px;">
                        <span ng-repeat="c in stack.cards" class="card_small card_{{c.obj.ui_color}} {{c.klass}}" style="position:absolute; left:{{c.left}}px; top:{{c.top}}px; z-index: {{c.z-index}};">
                            <div class="card_content" ng-click="objectAction(c.obj.id)">
                                <span class="header">
                                    <span class="title">{{c.obj.title}}</span>
                                    <span class="manacost">{{c.obj.manacost}}</span>
                                </span>
                                <span class="body">
                                    <span class="types">{{c.obj.ui_types}}</span>
                                    <span class="text">{{c.obj.text}}</span>
                                    <span class="power" ng-if="c.obj.power != null">{{c.obj.power}}/{{c.obj.toughness}}</span>
                                </span>
                            </div>
                        </span>
                     </span>
                </div>
            </span>
        </div>

        <div class="game_stack">
            <span class="card_stack" ng-repeat="c in stack">
                <span class="card_small card_{{c.ui_color}}">
                    <div class="card_content" ng-click="objectAction(c.id)">
                        <span class="header">
                            <span class="title">{{c.title}}</span>
                            <span class="manacost">{{c.manacost}}</span>
                        </span>
                        <span class="body">
                            <span class="types">{{c.ui_types}}</span>
                            <span class="text">{{c.text}}</span>
                            <span class="power" ng-if="c.power != null">{{c.power}}/{{c.toughness}}</span>
                        </span>
                    </div>
                </span>
            </span>
        </div>

        <div class="panel panel-default" ng-if="actions.length >= 2">
          <div class="panel-heading">
            <h3 class="panel-title">{{text}}</h3>
          </div>
          <div class="panel-body">
            <div class="btn-group">
              <button ng-repeat="a in actions" type="button" class="btn btn-default" ng-click="action(a)">{{a.text}}</button>
            </div>
          </div>
        </div>

        <div class="player_battlefield">
             <span class="card_stack" ng-repeat="stack in player_stacks" style="width:{{stack.width}}px; height:{{stack.height}}px;">
                <span ng-repeat="c in stack.cards" class="card_small card_{{c.obj.ui_color}} {{c.klass}}" style="position:absolute; left:{{c.left}}px; top:{{c.top}}px; z-index: {{c.z-index}};">
                    <div class="card_content" ng-click="objectAction(c.obj.id)">
                        <span class="header">
                            <span class="title">{{c.obj.title}}</span>
                            <span class="manacost">{{c.obj.manacost}}</span>
                        </span>
                        <span class="body">
                            <span class="types">{{c.obj.ui_types}}</span>
                            <span class="text">{{c.obj.text}}</span>
                            <span class="power" ng-if="c.obj.power != null">{{c.obj.power}}/{{c.obj.toughness}}</span>
                        </span>
                    </div>
                </span>
            </span>
        </div>

<!--
        <span class="card_stack" style="width:150px;height:200px;background:red;display:inline-block;">
            <span  style="position:absolute; left: 0px; top:0px;" title="#1 Maggot Carrier B  creature - zombie when SELF enters the battlefield, each player loses 1 life. 1/1" class="card_small card_black" id="obj_1">
                <div class="card_content">
                    <span class="header">
                        <span class="title">Maggot Carrier</span>
                        <span class="manacost">B</span>
                    </span>
                    <span class="body">
                        <span class="types"> creature – zombie</span>
                        <span class="text">when SELF enters the battlefield, each player loses 1 life.<span class="power">1/1</span></span>
                    </span>
                </div>
            </span>

            <span style="position:relative; left:0px; top:20px;" title="#41 Swamp  basic land - swamp b" class="card_small card_tapped card_swamp" id="obj_41">
                <div class="card_content">
                    <span class="header">
                        <span class="title">Swamp</span>
                        <span class="manacost"></span>
                    </span>
                    <span class="body">
                        <span class="types">basic land – swamp</span>
                        <span class="text">b</span>
                    </span>
                </div>
            </span>
        </span>

        <span class="tapped_dummy"></span>
-->
        <div class="player_hand">
            <span class="card_stack" ng-repeat="c in player_hand">
                <span class="card_small card_{{c.ui_color}}">
                    <div class="card_content" ng-click="objectAction(c.id)">
                        <span class="header">
                            <span class="title">{{c.title}}</span>
                            <span class="manacost">{{c.manacost}}</span>
                        </span>
                        <span class="body">
                            <span class="types">{{c.ui_types}}</span>
                            <span class="text">{{c.text}}</span>
                            <span class="power" ng-if="c.power != null">{{c.power}}/{{c.toughness}}</span>
                        </span>
                    </div>
                </span>
            </span>
        </div>

    </div>

    <div class="game_text">
        {{text}}
    </div>

</div>
