<div id="game" class="container-fluid">
    <div class="opponent_status player_status">
        <span class="player_life">
            20
        </span> 

        <span class="player_name">
            Opponent
        </span>

        <span class="player_lgh">
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-default"><img src='icons/library.png'/>60</button>
              <button type="button" class="btn btn-default"><img src='icons/graveyard.png'/>0</button>
              <button type="button" class="btn btn-default"><img src='icons/hand.png'/>7</button>
            </div>
        </span>
    </div> 

    <div class="opponent_turn_structure turn_structure">
        <div class="turn_element">
            <img src="icons/upkeep_full.png"/>
        </div>
        <div class="turn_element">
            <img src="icons/draw_full.png"/>
        </div>
        <div class="turn_element">
            <img src="icons/pre_full.png"/>
        </div>
        <div class="turn_element">
            <img src="icons/post_full.png"/>
        </div>
        <div class="turn_element">
            <img src="icons/endofturn.png"/>
        </div>
    </div>

    <div class="opponent_combat_turn_structure turn_structure">
         <div class="turn_element">
            <img src="icons/pre_combat.png"/>
        </div>
        <div class="turn_element">
            <img src="icons/attackers.png"/>
        </div>
        <div class="turn_element">
            <img src="icons/blockers.png"/>
        </div>
        <div class="turn_element">
            <img src="icons/damage.png"/>
        </div>
        <div class="turn_element">
            <img src="icons/post_combat.png"/>
        </div>
    </div>

    <div class="player_status self_status">
        <span class="player_life">
            20
        </span> 
        <span class="player_name"> 
            Player
        </span>
        <span class="player_lgh">
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-default"><img src='icons/library.png'/>60</button>
              <button type="button" class="btn btn-default"><img src='icons/graveyard.png'/>0</button>
              <button type="button" class="btn btn-default"><img src='icons/hand.png'/>7</button>
            </div>
        </span>
    </div>

    <div class="player_turn_structure turn_structure">
        <div class="turn_element">
            <img src="icons/upkeep_full.png"/>
        </div>
        <div class="turn_element">
            <img src="icons/draw_full.png"/>
        </div>
        <div class="turn_element">
            <img src="icons/pre_full.png"/>
        </div>
        <div class="turn_element">
            <img src="icons/post_full.png"/>
        </div>
        <div class="turn_element">
            <img src="icons/endofturn.png"/>
        </div>
    </div>

    <div class="player_combat_turn_structure turn_structure">
         <div class="turn_element">
            <img src="icons/pre_combat.png"/>
        </div>
        <div class="turn_element">
            <img src="icons/attackers.png"/>
        </div>
        <div class="turn_element">
            <img src="icons/blockers.png"/>
        </div>
        <div class="turn_element">
            <img src="icons/damage.png"/>
        </div>
        <div class="turn_element">
            <img src="icons/post_combat.png"/>
        </div>
    </div>

    <div style="position:absolute; top:140px;">
        <div ng-repeat="a in actions">
            <button type="button" class="btn btn-default" ng-click="action(a)">{{a.text}}</button>
        </div>
    </div>

    <div id="gametable">

        <div class="opponent_battlefield">
             <span class="card_stack" ng-repeat="stack in opponent_stacks" style="width:{{stack.width}}px; height:{{stack.height}}px;">
                <span ng-repeat="c in stack.cards" class="card_small card_{{c.obj.ui_color}} {{c.klass}}" style="position:absolute; left:{{c.left}}px; top:{{c.top}}px; z-index: {{c.z-index}};">
                    <div class="card_content">
                        <span class="header">
                            <span class="title">{{c.obj.title}}</span>
                            <span class="manacost">{{c.obj.manacost}}</span>
                        </span>
                        <span class="body">
                            <span class="types">{{c.obj.ui_types}}</span>
                            <span class="text">{{c.obj.text}}</span>
                            <span class="power" ng-if="c.obj.power != null">{{c.obj.power}}/{{c.obj.toughness}}</span>
                        </span>
                    </div>
                </span>
             </span>
        </div>

        <div class="battle_battlefield">
            <span class="battlestack" ng-repeat="s in battlestacks">
                <div class="opponent_battlestack">
                    <span class="card_stack" ng-repeat="stack in s.opponent" style="width:{{stack.width}}px; height:{{stack.height}}px;">
                        <span ng-repeat="c in stack.cards" class="card_small card_{{c.obj.ui_color}} {{c.klass}}" style="position:absolute; left:{{c.left}}px; top:{{c.top}}px; z-index: {{c.z-index}};">
                            <div class="card_content">
                                <span class="header">
                                    <span class="title">{{c.obj.title}}</span>
                                    <span class="manacost">{{c.obj.manacost}}</span>
                                </span>
                                <span class="body">
                                    <span class="types">{{c.obj.ui_types}}</span>
                                    <span class="text">{{c.obj.text}}</span>
                                    <span class="power" ng-if="c.obj.power != null">{{c.obj.power}}/{{c.obj.toughness}}</span>
                                </span>
                            </div>
                        </span>
                     </span>
                </div>
                <div class="player_battlestack">
                    <span class="card_stack" ng-repeat="stack in s.player" style="width:{{stack.width}}px; height:{{stack.height}}px;">
                        <span ng-repeat="c in stack.cards" class="card_small card_{{c.obj.ui_color}} {{c.klass}}" style="position:absolute; left:{{c.left}}px; top:{{c.top}}px; z-index: {{c.z-index}};">
                            <div class="card_content">
                                <span class="header">
                                    <span class="title">{{c.obj.title}}</span>
                                    <span class="manacost">{{c.obj.manacost}}</span>
                                </span>
                                <span class="body">
                                    <span class="types">{{c.obj.ui_types}}</span>
                                    <span class="text">{{c.obj.text}}</span>
                                    <span class="power" ng-if="c.obj.power != null">{{c.obj.power}}/{{c.obj.toughness}}</span>
                                </span>
                            </div>
                        </span>
                     </span>
                </div>
            </span>
        </div>

        <div class="game_stack">
            <span class="card_stack" ng-repeat="c in stack">
                <span class="card_small card_{{c.ui_color}}">
                    <div class="card_content">
                        <span class="header">
                            <span class="title">{{c.title}}</span>
                            <span class="manacost">{{c.manacost}}</span>
                        </span>
                        <span class="body">
                            <span class="types">{{c.ui_types}}</span>
                            <span class="text">{{c.text}}</span>
                            <span class="power" ng-if="c.power != null">{{c.power}}/{{c.toughness}}</span>
                        </span>
                    </div>
                </span>
            </span>
        </div>

        <div class="player_battlefield">
             <span class="card_stack" ng-repeat="stack in player_stacks" style="width:{{stack.width}}px; height:{{stack.height}}px;">
                <span ng-repeat="c in stack.cards" class="card_small card_{{c.obj.ui_color}} {{c.klass}}" style="position:absolute; left:{{c.left}}px; top:{{c.top}}px; z-index: {{c.z-index}};">
                    <div class="card_content">
                        <span class="header">
                            <span class="title">{{c.obj.title}}</span>
                            <span class="manacost">{{c.obj.manacost}}</span>
                        </span>
                        <span class="body">
                            <span class="types">{{c.obj.ui_types}}</span>
                            <span class="text">{{c.obj.text}}</span>
                            <span class="power" ng-if="c.obj.power != null">{{c.obj.power}}/{{c.obj.toughness}}</span>
                        </span>
                    </div>
                </span>
            </span>
        </div>

<!--
        <span class="card_stack" style="width:150px;height:200px;background:red;display:inline-block;">
            <span  style="position:absolute; left: 0px; top:0px;" title="#1 Maggot Carrier B  creature - zombie when SELF enters the battlefield, each player loses 1 life. 1/1" class="card_small card_black" id="obj_1">
                <div class="card_content">
                    <span class="header">
                        <span class="title">Maggot Carrier</span>
                        <span class="manacost">B</span>
                    </span>
                    <span class="body">
                        <span class="types"> creature – zombie</span>
                        <span class="text">when SELF enters the battlefield, each player loses 1 life.<span class="power">1/1</span></span>
                    </span>
                </div>
            </span>

            <span style="position:relative; left:0px; top:20px;" title="#41 Swamp  basic land - swamp b" class="card_small card_tapped card_swamp" id="obj_41">
                <div class="card_content">
                    <span class="header">
                        <span class="title">Swamp</span>
                        <span class="manacost"></span>
                    </span>
                    <span class="body">
                        <span class="types">basic land – swamp</span>
                        <span class="text">b</span>
                    </span>
                </div>
            </span>
        </span>

        <span class="tapped_dummy"></span>
-->
        <div class="player_hand">
            <span class="card_stack" ng-repeat="c in hand">
                <span class="card_small card_{{c.ui_color}}">
                    <div class="card_content">
                        <span class="header">
                            <span class="title">{{c.title}}</span>
                            <span class="manacost">{{c.manacost}}</span>
                        </span>
                        <span class="body">
                            <span class="types">{{c.ui_types}}</span>
                            <span class="text">{{c.text}}</span>
                            <span class="power" ng-if="c.power != null">{{c.power}}/{{c.toughness}}</span>
                        </span>
                    </div>
                </span>
            </span>
        </div>
    </div>

</div>
