<div id="game" class="container-fluid">
    <div class="opponent_status">
        <span class="player_life">
            20
        </span> 

        <span class="player_name">
            Opponent
        </span>

        <span class="player_lgh">
            60 / 0 / 7
        </span>
    </div> 

    <div class="player_status">
        <span class="player_life">
            20
        </span> 
        <span class="player_name"> 
            Player
        </span>
        <span class="player_lgh">
            60 / 0 / 7
        </span>
    </div>
</div>
