<div id="lobby" class="container-fluid">
    <div class="row" style="margin-bottom:12px">
        <div class="col-md-12">
            Deck
            <div class="btn-group">
                <button id="lobby_deck_dropdown" class="btn dropdown-toggle" data-toggle="dropdown" href="#">Dropdown trigger <span class="caret"></span></button>
                <ul id="lobby_deck_list" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li role="presentation"><a href="#" role="menuitem">Green Machine</a></li>
                    <li role="presentation"><a href="#" role="menuitem">Red Fries</a></li>
                </ul>
            </div>

            <span class="icon-bar"></span>

            Open to a duel? <div class="btn-group">
                <button type="button" class="btn" ng-model="openForDuel" ng-change="onOpenForDuel(true)" btn-radio="true">Yes</button>
                <button type="button" class="btn" ng-model="openForDuel" ng-change="onOpenForDuel(false)" btn-radio="false">No</button>
            </div>

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

            <button id="lobby_solitaire" class="btn" href="#" onclick="$('#lobby_solitaire_modal').modal('toggle')">Play solitaire</button>
            <div id="lobby_solitaire_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="lobbySolitaireHeader" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 id="lobbySolitaireHeader">Start Solitaire</h3>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="span6">
                            <ul id="lobby_solitaire_deck1" class="nav nav-tabs nav-stacked">
                            <li class="nav-header">Deck 1</li>
                            <li><a href="#" role="menuitem">Green Machine</a></li>
                            <li class="active"><a href="#" role="menuitem">Red Fries</a></li>
                            </ul>
                        </div>
                        <div class="span6">
                            <ul id ="lobby_solitaire_deck2" class="nav nav-tabs nav-stacked">
                            <li class="nav-header">Deck 2</li>
                            <li class="active"><a href="#" role="menuitem">Green Machine</a></li>
                            <li><a href="#" role="menuitem">Red Fries</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button class="btn btn-primary" onclick="lobby_start_solitaire();">Play</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <table class="table">
                    <!--<ul id="lobby_duel_players" class="nav nav-list">

                    </ul>-->
                    
                    <tbody> 
                        <tr ng-repeat="u in users"><td class="vert-align">{{u.username}}</td><td><button class="btn btn-sm" style="visibility:hidden">X</button></td><td class="vert-align"><button ng-show="u.duel" type="button" class="btn btn-sm">Join Duel</button></td></tr>
                    </tbody>
                        
<!--
                  <li id="lobby_challenging_players" class="nav-header">Players challenging you</li>
                  <li><a href="#">Rincewind</a></li>
                  <li class="active">
                      <button type="button" class="btn pull-right" style="margin-top:8px">Decline</button>
                      <span class="icon-bar pull-right"></span>    
                      <button type="button" class="btn pull-right" style="margin-top:8px">Accept</button>

                      <a href="#"><b>Merlin</b><br/>Rank: 10.5</a>
                  </li>

                  <li><a href="#">George</a></li>

                  <li id="lobby_open_players" class="nav-header">Players open to a duel</li>
                  <li><a href="#">Jimmy</a></li>
                  <li class="active">
                    <button type="button" class="btn pull-right" style="margin-top:8px">Join Duel</button>
                    <a href="#"><b>Bublach</b><br/>Rank: 3.5</a>
                  </li>
-->

<!--                  <li id="lobby_available_players" class="nav-header">Available Players</li>-->
       
<!--                    <ul id="lobby_games_in_progress" class="nav nav-list">

                  <li><a href="#">Foo</a></li>
                  <li class="active">
                                <button type="button" class="btn pull-right" style="margin-top:8px">Challenge</button>
                                <a href="#"><b>Bar</b><br/>Rank: 10.5</a> 
                  </li>
                  <li><a href="#">Jerry</a></li>
-->
<!--                  <li class="nav-header">Games in Progress</li>-->
<!--
                  <li><a href="#">Foo vs Bar</a></li>
                  <li><a href="#">Monty vs Blab</a></li>
                  <li class="active">
                    <button type="button" class="btn pull-right" style="margin-top:8px">Watch</button>
                    <a href="#"><b>Wizzo vs Chuck</b><br/>Turn: 5</a>
                  </li>

                    </ul>-->
                </div>
            </table>
        </div><!--/span-->

        <div class="col-md-9">
            <div id="chat" class="well">
                <div class="row input-append">
                    <input class="col-md-11" id="lobby_chat_input" placeholder="Chat..." ng-model="message" type="text">
                    <button class="btn" type="button" ng-click="chat()">Send</button>
                </div>

                <div id="lobby_chat_messages">
                    <div ng-repeat="m in messages | reverse">
                        <b>{{m.username}}:</b> {{m.message}}
                    </div>
<!--                        <div style="color: rgb(192, 152, 83);"><i><b>Rincewind</b> challenged you for a duel!</i></div>
                        <div><i>Puss entered the lobby.</i></div>
                        <div><b>Merlin:</b> I will destroy you! </div>
                        <div><b>Jerry:</b> Anybody want to play? </div> 
-->
                </div>
            </div>
        </div>
    </div>
</div>

