<div class="container">
    <form class="form-signin" ng-submit="login()">
        <h2 class="form-signin-heading">Please log in</h2>
        <input id="login_username" type="text" class="input-block-level" placeholder="Username" ng-model="username"></input>
        <input id="login_password" type="password" class="input-block-level" placeholder="Password" ng-model="password"></input>
        <button class="btn btn-large btn-primary" type="submit">Log in</button>

        <span>{{error}}</span>

    </form>

    <div class="block">
        Don't have an account? <a href="/#register">Register here</a>!.
    </div>

    <div class="alert alert-block">

    <h4>Firefox only</h4>
        This alpha version has only been developed on and tested with the Firefox browser. Other browsers may or may not work.
    </div>

</div>

