.card_small {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 142px;
    cursor: pointer;
    vertical-align: top;
    overflow: hidden;
    border-radius: 6px;
    background: white;
    margin:3px;
    color: black;

    font-family: 'Open Sans', sans-serif;
}

.card_small > img {
   position: absolute;
   width: 100px;
   height: 142px;
   z-index: 2;
   border-radius: 6px;
}

.card_small > .card_content {
    position: relative;
    left:3px;
    width:90px;
    top:3px;
    height:132px;
    background: gray;
    border: 1px solid black;
    padding: 1px;
}

.tapped_dummy {
    position:relative;
    width:42px;
    height:142px;
    display:inline-block;
}

.card_tapped {
   -webkit-transform: rotate(90deg) translate(-21px, -21px);
   -moz-transform: rotate(90deg) translate(-21px, -21px);
}

.types {
    display: block;
}

.tags {
    display: block;
}

.text {
    display: block;
}

.card_small .header {
    position: absolute;
    font-size: 9px;
    height: 10px;
    width: 88px;
    border: 1px solid black;
}

.card_red > .card_content {
    border: 1px solid #843c2e !important;
    background: #a7524d !important;
}

.card_red .header {
    border: 1px solid #843c2e !important;
    background: #f8ceb6;
}

.card_red .text {
    border: 1px solid #843c2e !important;
    background: #f8ceb6;
}

.card_red .power {
    background: #f8ceb6 !important;
}

.card_green > .card_content {
    border: 1px solid #274939 !important;
    background: #45715a !important;
}

.card_green .header {
    border: 1px solid #274939 !important;
    background: #c8d5cc;
}

.card_green .text {
    border: 1px solid #274939 !important;
    background: #c8d5cc;
}

.card_green .power {
    background: #c8d5cc !important;
}

.card_blue > .card_content {
    border: 1px solid #002c43 !important;
    background: #2f84bd !important;
}

.card_blue .header {
    border: 1px solid #002c43 !important;
    background: #c9dceb;
}

.card_blue .text {
    border: 1px solid #002c43 !important;
    background: #c9dceb;
}

.card_blue .power {
    background: #c9dceb !important;
}

.card_black > .card_content {
    border: 1px solid #312f32 !important;
    background: #4e4548 !important;
}

.card_black .header {
    border: 1px solid #312f32 !important;
    background: #bbb1b0;
}

.card_black .text {
    border: 1px solid #312f32 !important;
    background: #bbb1b0;
}

.card_black .power {
    background: #bbb1b0 !important;
}

.card_white > .card_content {
    border: 1px solid #3f3734 !important;
    background: #fafafa !important;
}

.card_white .header {
    border: 1px solid #3f3734 !important;
    background: #f6f5f3;
}

.card_white .text {
    border: 1px solid #3f3734 !important;
    background: #f6f5f3;
}

.card_white .power {
    background: #f6f5f3 !important;
}

.card_colorless > .card_content {
    border: 1px solid #919199 !important;
    background: #e3e4e8 !important;
}

.card_colorless .header {
    border: 1px solid #919199 !important;
    background: #e3e4e8;
}

.card_colorless .text {
    border: 1px solid #919199 !important;
    background: #e3e4e8;
}

.card_colorless .power {
    background: #e3e4e8 !important;
}

.card_land > .card_content {
    border: 1px solid #564f47 !important;
    background: #bca9a2 !important;
}

.card_land .header {
    border: 1px solid #564f47 !important;
    background: #d7d0ca;
}

.card_land .text {
    border: 1px solid #564f47 !important;
    background: #d7d0ca;
}

.card_land .power {
    background: #d7d0ca !important;
}

.card_forest > .card_content {
    border: 1px solid #274939 !important;
    background: #bca9a2 !important;
}

.card_forest .header {
    border: 1px solid #274939 !important;
    background: #c8d5cc;
}

.card_forest .text {
    border: 1px solid #274939 !important;
    background: #c8d5cc;
}

.card_forest .power {
    background: #c8d5cc !important;
}

.card_mountain > .card_content {
    border: 1px solid #843c2e !important;
    background: #bca9a2 !important;
}

.card_mountain .header {
    border: 1px solid #843c2e !important;
    background: #f8ceb6;
}

.card_mountain .text {
    border: 1px solid #843c2e !important;
    background: #f8ceb6;
}

.card_mountain .power {
    background: #f8ceb6 !important;
}

.card_island > .card_content {
    border: 1px solid #002c43 !important;
    background: #bca9a2 !important;
}

.card_island .header {
    border: 1px solid #002c43 !important;
    background: #c9dceb;
}

.card_island .text {
    border: 1px solid #002c43 !important;
    background: #c9dceb;
}

.card_island .power {
    background: #c9dceb !important;
}

.card_swamp > .card_content {
    border: 1px solid #312f32 !important;
    background: #bca9a2 !important;
}

.card_swamp .header {
    border: 1px solid #312f32 !important;
    background: #bbb1b0;
}

.card_swamp .text {
    border: 1px solid #312f32 !important;
    background: #bbb1b0;
}

.card_swamp .power {
    background: #bbb1b0 !important;
}

.card_plains > .card_content {
    border: 1px solid #3f3734 !important;
    background: #bca9a2 !important;
}

.card_plains .header {
    border: 1px solid #3f3734 !important;
    background: #f6f5f3;
}

.card_plains .text {
    border: 1px solid #3f3734 !important;
    background: #f6f5f3;
}

.card_plains .power {
    background: #f6f5f3 !important;
}

.card_small .header > .title {
    position: absolute;
    text-align: left;
    top: 0px;
    left: 0px;
    height: 10px;
    overflow: hidden;
}

.card_small .header > .manacost {
    position: absolute;
    text-align: right;
    top: 0px;
    right: 0px;
}

.card_small .body {
    display: block;
    position: absolute;
    top: 10px;
    left: 0px;
    width: 92px;
    height: 123px;
    font-size: 9px;
    overflow: hidden;
}

.card_small .body .text {
    border: 1px solid black;
    margin: 1px;
    height: 110px;
}

.card_small .body .types {
    width:88px;
    height:9px;
    margin-top:1px;
    overflow:hidden;
}


.card_small .power {
    display: block;
    position: absolute;
    font-size: 10px;
    height: 10px;
    width: 20px;
    left: 67px;
    bottom: 2px;
    background: inherit;
    z-index: 1;
    text-align: right;
}


.action {
   border: solid 1px yellow;

   box-shadow: 0 0 5px rgba(255, 255, 0, 1);
   -webkit-box-shadow: 0 0 5px rgba(255, 255, 0, 1);
   -moz-box-shadow: 0 0 5px rgba(255, 255, 0, 1);
}

.targeted {
    border: solid 1px red !important;

    box-shadow: 0 0 5px rgba(255, 0, 0, 1);
    -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, 1);
    -moz-box-shadow: 0 0 5px rgba(255, 0, 0, 1);
}

#pass {
    width: 200px;
}

.action_button {
    display:block;
    width: 200px;
}

.zone_button {
    border: 1px solid #006;
    display:block;
    width: 200px;
}

.action_zone_button {
    border: 1px solid yellow;
}


#table {
  position:absolute;
  left: 208px;
  top: 42px;
  bottom:100px;
  right:0px;
  background: #336633;
  overflow: auto;
  line-height: normal;
}

#game_messages {
    position: absolute;
    bottom:0px;
    left: 208px;
    right:0px;
    height:100px;
    background: #ffbd6d;
    color: black;
    z-index:10000;
    border: 1px solid black;
}

.game_messages_expanded {
    position: absolute;
    bottom:0px;
    left: 208px;
    right:0px;
    top: 0px;
    height: auto !important;
    background: #ffbd6d;
    color: black;
    opacity: 0.9;
    border: 1px solid black;
}


#game_messages_form {
    position:absolute;
    bottom:0px;
    height: 32px;
    left:0px;
    right:0px;
}

#game_messages > #messages {
  position:absolute;
  overflow: auto;
  bottom: 32px;
  top:0px;
  right:0px;
  left:0px;
}


.player_message {
  color: green;
}

.opponent_message {
  color: red;
}

#status {
  position:absolute;
  left:4px;
  top:42px;
  width: 200px;
  color: rgb(153, 153, 153);
}

.player_action {
   border: solid 1px yellow !important;

   box-shadow: 0 0 5px rgba(255, 255, 0, 1);
   -webkit-box-shadow: 0 0 5px rgba(255, 255, 0, 1);
   -moz-box-shadow: 0 0 5px rgba(255, 255, 0, 1);

   background: yellow;
   color: black;
}

#opponent_life {
    float: right;
    text-align: right;
}

#opponent_hand {
    position: relative;
    width: 180px;
    height: 58px;
    display: block;
    margin-bottom: 10px;
    border: 1px solid black;
    left: 10px;
}


.library_graveyard {
    position: relative;
    width: 180px;
    height: 58px;
    margin-bottom: 10px;
    left: 10px;
}

.library {
    position: absolute;
    width: 40px;
    height: 58px;
    left: 45px;
    display: inline-block;
    border: 1px solid black;
}

.graveyard {
    position: absolute;
    width: 40px;
    height: 58px;
    display: inline-block;
    border: 1px solid black;
    left: 95px;
}

.card_graveyard {
   position: absolute !important;
   -webkit-transform: translate(-33px, -45px) scale(0.4);
   -moz-transform: translate(-33px, -45px) scale(0.4);
}

#player_life {
    float: right;
    text-align: right;
}


.action_zone{
   border: solid 1px yellow !important;

   box-shadow: 0 0 5px rgba(255, 255, 0, 1);
   -webkit-box-shadow: 0 0 5px rgba(255, 255, 0, 1);
   -moz-box-shadow: 0 0 5px rgba(255, 255, 0, 1);
}

#timer {
 width: 200px;
}


#zones {
    position:absolute;
    left:300px;
    top:100px;
    right:100px;
    bottom:100px;
    z-index: 9000;
    background: #202020;
    border: 1px solid black;
    overflow: auto;
    line-height: normal;
}

#zone_stack {
    background: #428042;
    margin: 8px;
}

#card_details {
    margin-top: 1em;
    position: fixed;
    bottom: 8px;
    z-index: 10000;
}

.card_detail {
    position: relative;
    color: black;
    width: 190px;
    border: 4px solid white;
    background: white;
    width: 194px;
}


.card_detail .power {
    display: block;
    width: 188px;
    text-align: right;
}

.card_detail .title {
    display: block;
}

.card_detail .header > .title {
    position: absolute;
    text-align: left;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.card_detail .header > .manacost {
    position: absolute;
    text-align: right;
    top: 0px;
    right: 0px;
}

.card_detail > .card_content {
    position: relative;
/*    left:3px;*/
    width:190px;
/*    top:3px;*/
    background: gray;
    border: 1px solid black;
    padding: 1px;
}

.card_detail .header {
    border: 1px solid black;
    display: block;
    position: relative;
    height: 17px;
    width: 187px;
}


#autopass {
    display: table;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
    z-index: 20000;
    position: fixed;
    background: black;
    opacity: 0.5;
    text-align: center;
    font-size: 48pt;
    color: light-gray;
}

#autopass > div {
    display: table-cell;
    vertical-align: middle;
}

.autopass_priority {
    color: white;
}

.action_zone{
   border: solid 1px yellow !important;

   box-shadow: 0 0 5px rgba(255, 255, 0, 1);
   -webkit-box-shadow: 0 0 5px rgba(255, 255, 0, 1);
   -moz-box-shadow: 0 0 5px rgba(255, 255, 0, 1);
}

#timer {
 width: 200px;
}


#zones {
    position:absolute;
    left:300px;
    top:100px;
    right:100px;
    bottom:100px;
    z-index: 9000;
    background: #202020;
    border: 1px solid black;
    overflow: auto;
}

#zone_stack {
    background: #428042;
    margin: 8px;
}

#card_details {
    margin-top: 1em;
    position: fixed;
    bottom: 8px;
    z-index: 10000;
}

.card_detail {
    position: relative;
    color: black;
    width: 190px;
    border: 4px solid white;
    background: white;
    width: 194px;
}


.card_detail .power {
    display: block;
    width: 188px;
    text-align: right;
}

.card_detail .title {
    display: block;
}

.card_detail .header > .title {
    position: absolute;
    text-align: left;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.card_detail .header > .manacost {
    position: absolute;
    text-align: right;
    top: 0px;
    right: 0px;
}

.card_detail > .card_content {
    position: relative;
/*    left:3px;*/
    width:190px;
/*    top:3px;*/
    background: gray;
    border: 1px solid black;
    padding: 1px;
}

.card_detail .header {
    border: 1px solid black;
    display: block;
    position: relative;
    height: 17px;
    width: 187px;
}


#autopass {
    display: table;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
    z-index: 20000;
    position: fixed;
    background: black;
    opacity: 0.5;
    text-align: center;
    font-size: 48pt;
    color: light-gray;
    line-height: normal;
}

#autopass > div {
    display: table-cell;
    vertical-align: middle;
}

.autopass_priority {
    color: white;
}

.card_stack {
    display:inline-block;
    vertical-align:top;
    position:relative;
}


