
.bg-table {
   background-image: url(table.png);
}

.opponent_status {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100px;

 /*   background: blue;*/
}

.player_status {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 200px;
    height: 100px;

/*    background: red;*/
}

.player_life {

    position: absolute;
    width: 32px;
    height: 24px;
    font-size: 2em;
/*    float: left;*/
}

.player_name {
    position: absolute;
    left: 32px;
    top: 5px;
}

.player_lgh {
    position: absolute;
    left:32px;
    top:24px;
}
